@{
    ViewBag.Title = "title";
}

@model MVCNETSecuTF.Models.Forms.CreateCarForm

<h1>Create Car</h1>

<!-- Formaulaire de creation de voiture -->

    
<form asp-controller="Car" asp-action="Create" method="post" style="display: flex; flex-direction: column; align-items:center">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <label asp-for="Marque" for="marque"></label>
    <input type="text" id="marque" asp-for="Marque"/>
    <span asp-validation-for="Marque" class="text-danger"></span>

    <label for="modele">Modele</label>
    <input type="text" id="modele" asp-for="Modele"/>
    <span asp-validation-for="Modele" class="text-danger"></span>

    <label for="annee">Année</label>
    <input type="number" id="annee" asp-for="Annee"/>
    <span asp-validation-for="Annee" class="text-danger"></span>

    <label for="couleur">Couleur</label>
    <input type="text" id="couleur" asp-for="Couleur"/>
    <span asp-validation-for="Couleur" class="text-danger"></span>

    <label for="portes">Nombre de portes</label>
    <input type="number" id="portes" asp-for="Portes"/>
    <span asp-validation-for="Portes" class="text-danger"></span>

    <button class="btn btn-success">Creer</button>

</form>

